.menu-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 2;
}

.menu-icon {
  animation-name: sidein;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@keyframes sidein {
  0% {
    transform: rotate(0deg);
    color: #fefeff;
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(50deg);
  }
  60% {
    transform: rotate(40deg);
  }
  70% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
