input[type="file"]::file-selector-button {
  border: none;
  margin-right: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background-color: #232832;
  color: #fefeff;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #3c3f46;
}
